/* 
orng = #EDC7B7
whte = #EEE2DC
gry = #BAB2B5
blu = #123C69
pink = #AC3B61 
*/


body {
    background-color: #EEE2DC;
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Title */

.student-title {
    color: #AC3B61;
}

.tutor-title {
    color: #123C69;
}

/* Buttons */
button {
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #BAB2B5;
}

.submit {
    background-color: #EDC7B7;
    color: #837b7e
}

.back {
    background-color: #EDC7B7;
    color: #837b7e
}

.login-button {
    text-align: center;
    margin: 5%;
    padding: 5%;
    font-size: 50px;
    width:25%;    
}

.login-button.tutor {
    margin-left: 20%;
    background-color: #123C69;
    color: #EEE2DC;
}

.login-button.student {
    background-color: #AC3B61 ;
    color: #EEE2DC;
}

.tutor-answer{
    background-color: #EEE2DC;
}

/* Hover buttons */
button:hover{
    background-color: #EEE2DC;
} 

.login-button.tutor:hover{
    background-color: #134a85;
    
}

.login-button.student:hover{
    background-color: #d34e7a;
    
}

.tutor-answer:hover{
    background-color: white;
}



/* //////////////////////////////////////// */

/* Forms */

form {
    text-align: center;
}

/* /////////////////////////////////////// */

/* Cards */

.main {
    text-align: center;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}

.un-ans {
    width: 50%;
    float: left;
}

.ans {
    width: 50%;
    float: right;
}

.asked {
    position: relative;
    font-size: 12px;
    background-color: #EDC7B7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    position: absolute;
    top: 2px;
    left: 9px;
}

h4 {
    padding: 15px;
    max-width: 100%;
}



.answer {
    background-color:#EEE2DC;
    border-radius: 5px;
    color: #837b7e;
}

/* voting flag */

.fa-stack{
    float: right;
    top: -60px;
    right: 5px;
    padding: 5px;
}

.fa-stack:hover .fa-flag{
    color: red;
}

.fa-flag{
    text-align: center;
    color: white;
    padding: 2px;
    /* position: absolute; */
    /* top: 35px;
    right: 25px; */
    
}

.fa-stack:hover .tutor-flag{
    color: white;
}

.fa-stack:hover .fa-heart{
    color: red;
}

.fa-heart{
    text-align: center;
    color: pink;
    padding: 2px;
    /* position: absolute; */
    /* top: 35px;
    right: 25px; */
    
}

.fa-stack:hover .tutor-heart{
    color: white;
}

.fa-stack:hover .fa-question{
    color: rgb(114, 141, 150);
}

.fa-question{
    text-align: center;
    color: lightblue;
    padding: 2px;
    /* position: absolute; */
    /* top: 35px;
    right: 25px; */
    
}

.fa-stack:hover .tutor-question{
    color: white;
}
