<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="student.js"></script> 
</head>
<body>
    <div class="root">
        <h1>STUDENT:    This is the studnet</h1>
        <button onclick="window.location.href='{{link}}/';">
            Add
        </button>
        <div class="main">
            <div class="un-ans">

            </div>
            <div class="ans">

            </div>
        </div>

        <button onclick="window.location.href='{{link}}/';">
            Back
        </button>
    </div>
    
</body>
</html> 