<!DOCTYPE html>
<html>
<head>
    <title>Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script type="text/javascript"
         src="{{ url_for('static', filename='student.js') }}"></script>
</head>
<body>
    <div class="root">
        <h1>STUDENT:    This is the studnet</h1>
        <button id="add-button" onclick="showForm()">
            Add Question
        </button>
        <form id="Qform-hidden" action="POST" style="display: none;">
            hello
        </form>
        <div class="main">
            <div class="un-ans">
                <ul>
                </ul>
            </div>
            <div class="ans">

            </div>
        </div>

        <button onclick="window.location.href='{{link}}/';">
            Back
        </button>
    </div>
    
</body>
</html> 